<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellas.web.signup.SignupDAO">

<insert id="signup" parameterType="Map">
	INSERT INTO member (muuid, mid, mpw, mname, mnickname, memail, mphone, maddress, mdetailaddress)
	VALUES(#{uuid}, #{id}, HEX(AES_ENCRYPT(#{pw}, 'sellas')), #{name}, #{nickname}, #{email}, #{phone}, #{address}, #{detailaddress})
</insert>

<select id="idDuplicationCheck" parameterType="String" resultType="Integer">
	SELECT COUNT(*) as count
	FROM member
	WHERE mid=#{value}
</select>

<select id="nicknameDuplicationCheck" parameterType="String" resultType="Integer">
	SELECT COUNT(*) as count
	FROM member
	WHERE mnickname=#{value}
</select>

<select id="emailDuplicationCheck" parameterType="String" resultType="Integer">
	SELECT COUNT(*) as count
	FROM member
	WHERE memail=#{value}
</select>

<select id="phoneDuplicationCheck" parameterType="String" resultType="Integer">
	SELECT COUNT(*) as count
	FROM member
	WHERE mphone=#{value}
</select>

</mapper>